##############################
## Folders                  ##
##############################
target
.idea
.git
testout
##############################
## single file              ##
##############################


*.log
/target